apiVersion: v1
kind: Secret
metadata:
  name: {{ ops_manager_admin_secret_name }}
  namespace: {{ ops_manager_namespace }}
type: Opaque
stringData:
  Username: "{{ ops_manager_admin_user }}"
  Password: "{{ ops_manager_admin_password }}"
  FirstName: "{{ ops_manager_admin_first_name }}"
  LastName: "{{ ops_manager_admin_last_name }}"
