apiVersion: v1
kind: Secret
metadata:
  name: aws-route53-credentials
  namespace: {{ external_dns_namespace }}
type: Opaque
stringData:
  aws_access_key_id: "{{ aws_access_key_id }}"
  aws_secret_access_key: "{{ aws_secret_access_key }}"
