apiVersion: v1
kind: Secret
metadata:
  name: {{ ops_manager_api_secret_name }}
  namespace: {{ mongodb_namespace }}
type: Opaque
stringData:
  publicKey: "{{ ops_manager_public_key | default('FILL_AFTER_OPS_MANAGER_SETUP') }}"
  privateKey: "{{ ops_manager_private_key | default('FILL_AFTER_OPS_MANAGER_SETUP') }}"
